@import url('fonts.css');
@import url('colors.css');
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about h1 {
  text-transform: none;
  font-size: 60px;
  text-align: left;
  font-family: "Regular", fallback;
  font-weight: 400;
  font-style: normal;
  padding-left: 25px !important;
}
.about h2 {
  color: var(--color-black);
  text-transform: uppercase;
  line-height: 1.7;
  letter-spacing: 0.15em;
  font-size: 20px;
  text-align: center;
  font-family: "Regular", fallback;
  font-weight: 100;
  font-style: normal;
}
h3,h5{
  text-align: justify;
  font-family: "Regular", fallback;
  line-height: 1.5;
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.about p {
  text-align: center;
  font-family: "Regular", fallback;
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: var(--color-black);
  text-align: center;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: var(--pantone-a);
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: var(--color-white);
}

.contact .info i {
  font-size: 20px;
  color: var(--color-black);
  float: left;
  width: 44px;
  height: 44px;
  background: var(--pantone-d);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--color-black);
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: var(--color-black);
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: var(--pantone-a);
  color: var(--color-white);
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--pantone-a);
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: var(--pantone-d);
  border: 0;
  padding: 10px 30px 12px 30px;
  color: var(--color-black);
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: var(--pantone-a);
  color: var(--color-white);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.wasap {
  position: fixed;
  left: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  z-index: 10000;
  visibility: visible;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 100;
}


@keyframes tada {
  from {
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1)
  }

  10%,20% {
      -webkit-transform: scale3d(.95,.95,.95) rotate3d(0,0,1,-10deg);
      transform: scale3d(.95,.95,.95) rotate3d(0,0,1,-10deg)
  }

  30%,50%,70%,90% {
      -webkit-transform: scale3d(1,1,1) rotate3d(0,0,1,10deg);
      transform: scale3d(1,1,1) rotate3d(0,0,1,10deg)
  }

  40%,60%,80% {
      -webkit-transform: rotate3d(0,0,1,-10deg);
      transform: rotate3d(0,0,1,-10deg)
  }

  to {
      -webkit-transform: scale3d(1,1,1);
      transform: scale3d(1,1,1)
  }
}