:root{
    --color-blue-icon:#2c3691;
    --color-white:#ffffff;
    --color-black: #231f20;
    --color-primary: #008a8a;
    --pantone-a: #36a7aa;
    --pantone-b: #a4d0d1;
    --pantone-c: #8e8d98;
    --pantone-d: #c2bec0;
  }