:root{
    --color-blue-icon:#2c3691;
    --color-white:white;
    --color-black: rgb(35,31,32);
    --color-primary: rgb(0,138,138);
    --pantone-a: rgb(54,167,170);
    --pantone-b: rgb(164,208,209);
    --pantone-c: rgb(142,141,152);
    --pantone-d: rgb(194,190,192);
  }